body {
    background-color: #0d0d0d;
}

.four-year-container {
    width: 90vw;
    height: 70vh;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
}

.one-year-container {
    width: 24%;
    height: 100%;
    position: relative;
    margin-left: 1%;
    display: flex;
}

.semester-container {
    background-color: #d9d9d9;
    width: 45%;
    border: 0.25vw solid white;
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.class-box {
    width: 8.75vw;
    margin-left: 0.25vw;
    position: relative;
    height: auto;
    max-height: calc(100% - 2vh);
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: 2vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    cursor: move;
}

.class-box-text {
    margin: 0.5vh;
}

.external-credit-container {
    width: 80vw;
    display: flex;
    padding-top: 1vh;
    height: 13vh;
    position: relative;
    margin-top: 80vh;
    margin-left: 10vw;
    background-color: #d9d9d9;
    overflow-y: hidden;
    overflow-x: auto;
}

.external-credit-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 2vw;
    font-family: sans-serif;
    opacity: 0.5;
}

.upload-button {
    background-color: #ababab;
    width: 10vw;
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    height: 5vh;
    font-size: 1vw;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
}

.upload-button:hover {
    background-color: #c1c1c1;
}

.send-file {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    position: absolute;
    bottom: 2vh;
    left: 12vw;
    background-color: #ababab;
    border: 0;
    outline: none;
    font-size: 1.5vw;
    padding-top: 1vh;
}

.send-file:hover {
    background-color: #c1c1c1;
}

.degreeworks-filename {
    background-color: white;
    width: 9.5svw;
    padding-left: 0.5vw;
    height: auto;
    position: absolute;
    bottom: 8vh;
    left: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-family: sans-serif;
    font-size: 0.75vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis
}

.dragging {
    opacity: 1;
}

.class-list-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

.semester-hours {
    background-color: #707070;
    position: fixed;
    bottom: 23vh;
    width: 9.25%;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    color: white;
    font-family: sans-serif;
    text-align: center;
    opacity: 0.9;
    z-index: 320;
}

.delete-all-button {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    cursor: pointer;
    opacity: 0.8;
}

.delete-all-button:hover {
    opacity: 1.0;
}

.add-new-button {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: 6vw;
    left: 2vw;
    cursor: pointer;
    opacity: 0.8;
}

.add-new-button:hover {
    opacity: 1;
}

.delete-all-dialogue {
    z-index: 1000;
    width: 20vw;
    font-family: sans-serif;
    font-size: 1vw;
    text-align: center;
    position: absolute;
}

.delete-all-dialogue-button {
    width: 8vw;
    height: 2vw;
    outline: none;
    border: 0px;
    background-color: #adadad;
    cursor: pointer;
    font-size: 0.75vw;
}

.delete-all-dialogue-button:hover {
    background-color: #d9d9d9;
}

.delete-all-dialogue-warning {
    position: absolute;
    top: -0.5vw;
    left: 50%;
    transform: translateX(-50%);
}

.class-box-delete {
    width: 10%;
    height: auto;
    position: absolute;
    top: 0.1vw;
    left: 0.1vw;
    cursor: pointer;
    opacity: 0.5;
    visibility: hidden;
}

.class-box-edit {
    width: 10%;
    height: auto;
    position: absolute;
    top: calc(0.5vw + 10%);
    left: 0.1vw;
    cursor: pointer;
    opacity: 0.8;
    visibility: hidden;
}

.class-box-edit:hover {
    opacity: 1;
}

.class-box-delete:hover {
    opacity: 1;
}

.add-new-class-dialogue {
    z-index: 1000;
    width: 30vw;
    height: 90vh;
    position: absolute;
    top: 3vh;
    background-color: #ababab;
    color: black;
    font-family: sans-serif;
    border: 3px solid black;
}

.new-class-title {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.new-class-input {
    width: 90%;
    height: 4ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.new-class-multi-input {
    width: 90%;
    height: 8ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.new-class-label {
    font-size: 1vw;
    margin-left: 5%;
}

.category-dropdown {
    margin-left: 5%;
    width: 10vw;
    font-size: 1vw;
    height: 3ch;
    outline: none;
    cursor: pointer;
}

.new-class-preview {
    max-width: 10vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    position: absolute;
    padding: 2%;
    height: auto;
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    line-height: 2vh;
    font-size: 2vh;
}

.new-class-cancel {
    width: 1.5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    opacity: 0.5
}

.new-class-cancel:hover {
    opacity: 1;
}
.new-class-add {
    width: 2vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    opacity: 0.5;
}

.new-class-add:hover {
    opacity: 1;
}

.external-credit {
    width: 80vw;
    position: absolute;
    left: 10vw;
    top: 98vh;
    background-color: red;
}

.new-class-title {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.new-class-input {
    width: 90%;
    height: 4ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.new-class-multi-input {
    width: 90%;
    height: 8ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.new-class-label {
    font-size: 1vw;
    margin-left: 5%;
}

.category-dropdown {
    margin-left: 5%;
    width: 10vw;
    font-size: 1vw;
    height: 3ch;
    outline: none;
    cursor: pointer;
}

.new-class-preview {
    max-width: 10vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5vh;
    position: absolute;
    padding: 2%;
    height: auto;
    background-color: greenyellow;
    color: black;
    border: 1px solid black;
    font-family: sans-serif;
    text-align: center;
    line-height: 2vh;
    font-size: 2vh;
}

.edit-class-title {
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.edit-class-cancel {
    width: 1.5vw;
    position: absolute;
    top: 1vw;
    left: 1vw;
    opacity: 0.5
}

.edit-class-cancel:hover {
    opacity: 1;
}
.edit-class-confirm {
    width: 2vw;
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    opacity: 0.5;
}

.edit-class-confirm:hover {
    opacity: 1;
}

.edit-class-input {
    width: 90%;
    height: 4ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.edit-class-multi-input {
    width: 90%;
    height: 8ch;
    margin-left: 5%;
    margin-bottom: 2%;
    outline: none;
}

.edit-class-label {
    font-size: 1vw;
    margin-left: 5%;
}

.edit-existing-class-dialogue {
    z-index: 1000;
    width: 30vw;
    height: 70vh;
    position: absolute;
    top: 0vh;
    background-color: #ababab;
    color: black;
    font-family: sans-serif;
    border: 3px solid black;
}

.save-data-button {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    width: 3vw;
    opacity: 0.5;
    cursor: pointer;
}

.save-data-button:hover {
    opacity: 1;
}

.save-confirmation-image {
    position: absolute;
    bottom: 2vh;
    left: 2vw;
    width: 3vw;
    visibility: hidden;
}

.checkanim {
    animation-duration: 1s;
    animation-name: save-checkmark-fade;
    animation-iteration-count: 1;
    visibility: visible;
}

@keyframes save-checkmark-fade {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}